
.Nav {
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-family: "OpenSans";
    color: rgba(102, 102, 102, 0.671);
    line-height: 5.833;
}
.lists {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.button_01 {
    position: absolute;
    left: 527px;
    top: 415px;
    width: 254px;
    height: 73px;
    z-index: 999;
}
.par{
    font-size: 50.2px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    line-height: 2.565;
    text-align: center;
    position: absolute;
    left: 163.937px;
    top: 118.858px;
    z-index: 169;
}
.para {
    font-size: 30.2px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    line-height: 1.565;
    text-align: center;
    position: absolute;
    z-index: 169;
    left: 380px;
}
.cover-container {
    padding-top: 30px;
    min-height: 700px;
    width: 100%;
    z-index: 100;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-image: url(../images/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}
.button_02 {
    position: absolute;
    right: 170px;
    top: 500px;
    width: 6px;
    height: 5px;
    z-index: 171;
}
.button_03 {
    position: absolute;
    left: 480px;
    top: 330px;
    width: 254px;
    height: 73px;
    z-index: 1;
}

.content-pic {
    text-align: center;
    margin-bottom: 50px;
}
.text_01 {
    margin-bottom: 70px;
    font-size: 31px;
    font-family: "OpenSans";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 1.603;
    text-align: center;
    z-index: 9;
}
.text_02 {
    font-size: 18px;
    font-family: "OpenSans";
    color: rgba(81, 81, 81, 0.71);
    line-height: 2.2;
    text-align: center;
    height: 101px;
    z-index: 10;
}
.text_03 {
    font-size: 18px;
    font-family: "OpenSans";
    color: rgba(81, 81, 81, 0.71);
    line-height: 2.2;
    text-align: center;
    height: 217px;
    z-index: 10;
}
.num_01 {
    margin-bottom: 20px;
    z-index: 19;
}
.num_02 {
    margin-bottom: 20px;
    z-index: 24;
}
.num_03 {
    margin-bottom: 20px;
    z-index: 24;
}
.Tabs {
    border-bottom: 1px solid #add136;
}
.Tabs_2 {
    border-bottom: 1px solid #e6e6e6;
}

.Simple {
  display: inline;
  margin-left: 30px;
  font-size: 33.2px;
  font-family: "OpenSans";
  color: rgb(101, 101, 101);
  line-height: 1.2;
  text-align: center;
  z-index: 18;
}
.Transparent {
    display: inline;
    margin-left: 30px;
    font-size: 33.2px;
    font-family: "OpenSans";
    color: rgb(101, 101, 101);
    line-height: 1.2;
    text-align: center;
    z-index: 23;
}
.Collaborative {
    display: inline;
    margin-left: 30px;
    font-size: 33.2px;
    font-family: "OpenSans";
    color: rgb(101, 101, 101);
    line-height: 1.2;
    text-align: center;
    z-index: 28;
}
.Find {
    margin-top: 110px;
}
.glasses {
    margin-top: 87px;
    margin-left: 232px;
}
.para_02{
    margin-left: 94px;
    margin-top: 65px;
    margin-bottom: 35px;
    font-size: 25px;
    font-family: "OpenSans";
    color: rgb(173, 209, 54);
    line-height: 1.2;
    z-index: 34;
}
.para_03 {
    margin-left: 94px;
    font-size: 17px;
    font-family: "OpenSans";
    color: rgba(96, 96, 96, 0.671);
    line-height: 1.8;
    width: 700px;
    height: 77px;
    z-index: 35;
}
.sofa {
    background-color: #e2f8ff;
    .sofa_01 {
margin-top: 84px;
        margin-left: 93px;
    }
}
.wallet {
    background-color: #f5f9eb;
    .wallet_01 {
        margin-top: 84px;
        margin-left: 43px;
    }
}
.para_04 {
    position: relative;
    margin-top: 50px;
    font-size: 23px;
    font-family: "Montserrat";
    color: rgb(81, 81, 81);
    line-height: 1.2;
}
.para_05 {
    margin-top: 32px;
    font-size: 17px;
    font-family: "OpenSans";
    color: rgb(81, 81, 81);
    line-height: 1.2;
}
.button_04 {
    margin-bottom: 20px;
    margin-top: 20px;
}
.button_05 {
    margin-bottom: 9px;
    margin-top: 20px;
}
.Featured_Projects {
    margin-top: 80px;
    margin-left: 50px;
    font-size: 29px;
    font-family: "OpenSans";
    color: rgb(81, 81, 81);
    line-height: 1.2;
}
.Brief {
    margin-left: 50px;
    font-size: 17px;
    font-family: "OpenSans";
    color: rgb(143, 143, 143);
    line-height: 1.8;
}
.button_06 {
    margin-top: 108px;
    margin-left: 180px;
}
.Featured {

}
.city {
    background-color: #f9f9f9;
    width: 302px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 70px;
    margin-left: 60px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    .city_01 {
  opacity: 0.851;
    }
}
.Ontario {
    margin-top: 30px;
    font-size: 17px;
    font-family: "OpenSans";
    color: rgb(72, 72, 72);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.Lorem {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 13px;
    font-family: "OpenSans";
    color: rgba(72, 72, 72, 0.71);
    line-height: 1.2;
}
.perc {
    margin-left: 14px;
    margin-bottom: 18px;
}
.perc_02 {
    margin-left: 20px;
    margin-bottom: 15px;
}
.percent {
    display: inline;
    margin-left: 20px;
    font-size: 13px;
    font-family: "OpenSans";
    color: rgb(141, 141, 141);
    line-height: 1.2;
}
.days {
    margin-left: 120px;
    display: inline;
    font-size: 13px;
    font-family: "OpenSans";
    color: rgb(141, 141, 141);
    line-height: 1.2;
}
.detail {
    width: 270px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid #e5e5e5;
}
.details {
    margin: 25px 0px 30px 90px;
}
.new {
    position: absolute;
    z-index: 100;
}
.GBP {
    position: absolute;
    top: 174px;
    left: 133px;
    z-index: 100;
}
.Tower {
    margin-left: 98px;
    margin-right: 45px;
}
.bg_04 {
    padding-top: 30px;
    min-height: 700px;
    width: 100%;
    z-index: 100;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-image: url(../images/bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}
.community {
    margin-top: 40px;
    font-size: 39.2px;
    font-family: "OpenSans";
    color: rgb(158, 192, 45);
    line-height: 1.2;
    text-align: center;
}
.challenges {
    margin-top: 50px;
    margin-left: 88px;
    font-size: 19px;
    font-family: "OpenSans";
    color: rgb(148, 148, 148);
    line-height: 1.2;
    text-align: center;
}
.message {
    margin-top: 89px;
}
.message1 {
    margin-top: 90px;
}






